<div class="container d-flex flex-column align-items-center">
  <h2 class="title">Battleships: Space!</h2>
  <h3 class="title">{{enemyName?enemyName+"'s Battlefield":'Waiting for player...'}}</h3>
  <grid
  canFire
  [grid]="enemyGrid"
  (mouseClick)="playerFire($event)"></grid>

  <h3 class="title">your battlefield {{isHost?'(HOST)':''}}</h3>
  <grid
  showShips
  canPlace
  [grid]="playerGrid"
  (mouseDown)="startShipPlacement($event)"
  (mouseUp)="endShipPlacement($event)"></grid>


  <div class="docks d-flex flex-row justify-content-around mt-3">
    <div *ngFor="let ship of ships">
      <div
        class="docks__cell ship"
        [class.placed]="ship.placed"
        [hidden]="ship.placed"
        *ngFor="let i of array(ship.size)"
      ></div>
    </div>
  </div>

  <div class="d-flex flex-column probability grid">
    <div class="d-flex flex-row" *ngFor="let row of probGrid">
      <div
        class="grid__row__cell--small noselect"
        *ngFor="let cell of row"
        [style.background-color]="'rgba(1,1,1,' + cell.prob + ')'"
      ></div>
    </div>
  </div>
</div>

<div [hidden]="gameState!=='PLACEMENT' || playerReady" class="turn ">Place your ships by dragging from start to end position on the bottom grid</div>
<div [hidden]="gameState!=='PLACEMENT' || !playerReady" class="turn ">Wait for the enemy to finish placing his ships.</div>
<div [hidden]="gameState!=='COMBAT'" class="turn {{canFire?'green':'red'}}">{{canFire?'Your Turn':'enemyTurn'}}</div>
<div [hidden]="gameState!=='GAMEOVER'" class="turn {{won?'green':'red'}}">{{gameOverMessage}}</div>
