<div class="container d-flex flex-column align-items-center">
  <div class="d-flex flex-column grid m-3">
    <div class="d-flex flex-row grid__row" *ngFor="let row of enemyGrid">
      <div
        class="grid__row__cell noselect"
        [class.hit]="cell.hit"
        [class.miss]="cell.miss"
        *ngFor="let cell of row"
        (click)="playerFire(cell)"
      ></div>
    </div>
  </div>

  <div class="d-flex flex-column grid">
    <div class="d-flex flex-row grid__row" *ngFor="let row of playerGrid">
      <div
        class="grid__row__cell noselect"
        [class.ship]="cell.type"
        [class.hit]="cell.hit"
        [class.miss]="cell.miss"
        *ngFor="let cell of row"
        (mousedown)="startShipPlacement(cell)"
        (mouseup)="endShipPlacement(cell)"
      ></div>
    </div>
  </div>

  <div class="docks d-flex flex-row justify-content-around mt-3">
    <div *ngFor="let ship of ships">
      <div
        class="docks__cell ship"
        [class.placed]="ship.placed"
        [hidden]="ship.placed"
        *ngFor="let i of array(ship.size)"
      ></div>
    </div>
  </div>
</div>
