@use 'sass:math';

$unit: 25px;


.grid {
  border: 1px solid #999;
}

.grid__row__cell {
  background-color: transparent;
  border: 1px solid #999;
  height: $unit;
  width: $unit;
}
.grid__row__cell--small {
  border: 1px solid #999;
  height: math.div($unit,2);
  width: math.div($unit,2);
}

.ship {
  background-color: rgb(0, 54, 204);
}

.hit {
  background-color: #990000;
}

.miss {
  background-color: #99999988;
}

.sunk {
  background-color: #99000088;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
